@use "global" as *;

.c-contact{
  display: flex;
  position: relative;
  border-top: solid rem(2) $black;
  border-left: solid rem(2) $black;
  border-right: solid rem(2) $black;
} 
.c-contact::after{
  content: "";
  height: rem(2);
  width: calc(100% + rem(3.5));
  position: absolute;
  bottom: rem(-2);
  left: rem(-2);
  background: linear-gradient(90deg,#78DAB1 0%,#ACDE5C 100%);
  z-index: 1;
}

.c-contact p{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-contact p::before{
  content: "";
  height: 100%;
  width: rem(2);
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $black;
}
.c-contact__header img{
  width: rem(30);
  object-fit: contain;
  margin: 0 rem(15);
}
.c-contact__book img{
  width: 25%;
  object-fit: contain;
  padding: 0 5%;
  @include mq(md){
    padding: 2% 4%;
  }
}
.c-contact-tel{
  letter-spacing: 0.2em;
}
.c-contact-text{
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.c-contact__header{
  width: rem(260);
  font-size: rem(22);
  @include mq(md){
    font-size: initial;
  }
}
.c-contact__book{
  width: calc((100% - (rem(50) * 2)) / 3);
  height: rem(100);
  font-size: rem(31);
  @include mq(md){
    width: 80%;
    height: rem(50);
    font-size: initial;
  }
}
.c-contact__book img{
  filter: grayscale(100%) brightness(0);
}