@use "global" as *;

.p-menu{

}
.c-menu__wrap{
  display: flex;
  justify-content: space-between;
  font-size: rem(22);
  position: relative;
  padding-left: 10%;
}
.c-menu__text{
  letter-spacing: 0.05em;
}
.c-menu__price{
  font-style: italic;
  letter-spacing: 0.2em;
}
.c-menu__wrap::before{
  content: "";
  display: block;
  width: 3%; 
  height: 100%;
  background-image: url(/images/c-icon_menu.png);
  background-size: contain;
  background-repeat:no-repeat;
  position:absolute;
  top: 30%;
	left: 0%;
}