@use "global" as *;

.c-nav{
  display: flex;
  gap: rem(42);
  @include mq(md){
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding-top: rem(30);
    letter-spacing: rem(1.5);
    gap: rem(15);
  }
}
.c-nav__link{
  display: inline-block;
  padding: rem(5) rem(5);
}
.c-nav__item{
  text-transform: capitalize;
  font-size: rem(31);
  letter-spacing: 0.05em;
  position: relative;
  @include mq(md){
    font-size: initial;
  }
}
.c-nav__item-white{
  text-transform: capitalize;
  font-size: rem(22);
  letter-spacing: 0.05em;
  position: relative;
  @include mq(md){
    font-size: initial;
  }
}
.c-nav__item::after{
  content: "";
  display: inline-block;
  width: rem(25);
  height: 3px;
  background: linear-gradient(90deg,#78DAB1 0%,#ACDE5C 100%);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: .4s ease-in-out;
  display: none;
}
.c-nav__item:hover::after{
  display: block;
}

.c-nav__item a{
  display: block;
  color: $black;
  text-align: center;
}
.c-nav__item-white a{
  display: block;
  color: $white;
  text-align: center;
}