@use "global" as *;

.p-bottom {
  position: relative;
}
.p-bottom::before{
  content: "";
  position: absolute;
  top: rem(338);
  left: 0;
  display: block;
  width: 100%;
  height: rem(450);
  background: linear-gradient(90deg, transparent 0%, transparent 37.5%, #F4F2F0 37.5%, #F4F2F0 100%);
  z-index: -1;
  @include mq(md){
    top: initial;
    bottom: rem(-60);
    height: rem(300);
  }
}
.p-bottom::after{
  content: "";
  position: absolute;
  top: 55%;
  left: 0;
  display: block;
  width: 100%;
  height: rem(2);
  background: linear-gradient(90deg, transparent 0%, transparent 81.2%, #000 81.2%, #000 87.5%, transparent 87.5%, transparent 90.6%, #000 90.6%, #000 93.7%, transparent 93.7%, transparent 94.5%, #000 94.5%, #000 100%);
  z-index: -1;
  @include mq(md){
    top: 40%;
  }
}
.p-bottom__img {
  position: relative;
  width: 78.125%;
}
.p-bottom__img::after{
  content: "";
  position: absolute;
  top: rem(10);
  left: rem(10);
  width: 100%;
  height: 100%;
  border: solid rem(2) $black;
}
.p-bottom__logo {
  margin-top: rem(77);
}
.p-bottom__infos{
  display: flex;
  gap: rem(121);
  margin-top: rem(75);
  @include mq(md){
    display: none;
  }
}
.p-bottom__sp{
  display: none;
  @include mq(md){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.p-bottom__sp-wrap{
  @include mq(md){
    width: 47%;
  }
}
.p-bottom__sp-wrap a:not(:first-of-type){
  @include mq(md){
    display: block;
    margin-top: rem(10);
  }
}
.p-bottom__sp-wrap a:first-of-type{
  @include mq(md){
    display: flex;
    margin-top: rem(10);
    align-items: center;
  }
}
.p-bottom__sp-wrap a img{
  @include mq(md){
    width: rem(16);
    margin-right: rem(10);
  }
}
.p-bottom__sp-wrap p:nth-child(2n + 1){
  @include mq(md){
    margin-top: rem(16);
  }

}
.p-bottom__sp-title + .p-bottom__sp-wrap:nth-child(2n){
  @include mq(md){
    font-size: rem(16);
  }
}

.p-bottom__sp-title{
  @include mq(md){
    margin-top: rem(30);
    font-size: rem(20);
    // width: 50%;
  }
}
.p-bottom__sp-wrap p span{
  @include mq(md){
    margin-left: rem(16);
    margin-top: rem(20);
    display: inline-block;
  }
}
