@use "global" as *;

.p-concept {
  display: flex;
  gap: rem(125);
  position: relative;
}
.p-concept::before{
  content: "";
  position: absolute;
  top: rem(-90);
  left: 0;
  display: block;
  width: 100%;
  height: rem(633);
  background: linear-gradient(90deg, #F4F2F0 0%, #F4F2F0 62.5%, transparent 62.5%, transparent 100%);
  z-index: -1;
}
.p-concept__wrap {
  width: rem(750);
}
.p-concept__title {}
.p-concept__slogan {
  margin-top: rem(123);
  font-family: $font-sub;
  font-size: rem(22);
  letter-spacing: 0.05em;
}
.p-concept__text {
  margin-top: rem(50);
  font-size: rem(16);
  font-family: $font-sub;
  line-height: calc(33 / 16);
}
.p-concept__btn {
  margin-top: rem(101);
}
.p-concept__img{
  width: rem(625.45);
  position: relative;
  // aspect-ratio: calc((625.45 / 750) * 100%);
}
.p-concept__img::after{
  content: "";
  position: absolute;
  top: rem(10);
  left: rem(10);
  width: 99.92805180270205%;
  height: 100%;
  border: solid 2px $black;
}