@use "global" as *;

.p-footer {
  margin-top: rem(100);
  padding: rem(30) 0 rem(12);
  background-color: $black;
  @include mq(md){
    margin-top: rem(60);
  }
}
.p-footer__nav {
  @include mq(md){
    flex-direction: column;
  }
}
.p-footer__wrap {
  color: $white;
}
.p-footer__content {
  display: flex;
  justify-content: space-between;
  @include mq(md){
    flex-direction: column;
    align-items: center;
  }
}
.p-footer__nav{
  @include mq(md){
    width: 100%;
  }
}
.p-footer__policy {
  @include mq(md){
    margin-top: rem(15);
  }
}
.p-footer__policy {
  font-size: rem(22);
  text-transform: capitalize;
  @include mq(md){
    font-size: rem(16);
    width: 100%;
    text-align: center;
  }
}
.p-footer__copy {
  margin-top: rem(60);
  text-align: center;
}