@use "global" as *;

.p-hero {
 position: relative;
}
.p-hero__view{
  position: relative;
  width: rem(1245);
  @include mq(md){
    width: 100%;
  }
}
.p-hero__view::after{
  content: "";
  position: absolute;
  top: rem(20);
  left: rem(20);
  width: 100%;
  height: 100%;
  border: solid rem(2) $black;
  @include mq(md){
    top: rem(10);
    left: rem(10);
    }
}
.p-hero__title {
  font-size: rem(86);
  letter-spacing: 0.1em;
  font-family: $font-hero;
  position: absolute;
  right: 0;
  bottom: 0;
  @include mq(md){
    font-size: rem(16);
    font-weight: bold;
    bottom: rem(-35);
  }
}