@use "global" as *;

.p-hero {
 position: relative;
}
.p-hero__view{
  position: relative;
  width: rem(1245);
}
.p-hero__view::after{
  content: "";
  position: absolute;
  top: rem(20);
  left: rem(20);
  width: 100%;
  height: 100%;
  border: solid rem(2) $black;
}
.p-hero__title {
  font-size: rem(86);
  letter-spacing: 0.1em;
  font-family: $font-hero;
  position: absolute;
  right: 0;
  bottom: 0;;
}