@use "global" as *;

.p-instagram {
  background-color: #F4F2F0;
}
.p-instagram__wrap {
  display: flex;
  width: 100%;
  padding: rem(40) 0;
  @include mq(md){
    flex-wrap: wrap;
    width: 100%;
    padding-right: rem(strip-unit($padding-sp));
    padding-left: rem(strip-unit($padding-sp));
  }
}
.p-instagram__wrap *{
  width: calc(100% / 6);
  @include mq(md){
    width: 50%;
  }
}
.p-instagram__instagram{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.p-instagram__instagram p{
  width: 100%;
  font-size: rem(43);
  font-family: $font-main;
  font-style: italic;
  font-weight: medium;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  background: linear-gradient(90deg, #FEC11D 0%, #C0009F 100%);
  color: red;
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  @include mq(md){
    font-size: rem(22);
  }
}
.p-instagram__instagram img{
margin-top: rem(10);
@include mq(md){
  width: rem(30);
}
}
.p-instagram__photos{
  @include mq(md){
  }
}
.p-instagram__photos:first-of-type {
  @include mq(md){
  }
}