@use "global" as *;

// .p-info{
//   display: flex;
// }

// .p-info__title{
//   width: 40%;
// }

// .p-info__wrap{
//   width: 60%;
// }
// .p-info__wrap-inner{
//   display: flex;
//   width: 40%;
//   gap: rem(20);
// }
// .p-info__text{
//   font-size: rem(16);
//   font-family: $font-sub;
//   letter-spacing: 0.05em;
// }
// .p-info__text::first-letter{
//   font-size: rem(22);
// }
// .p-info__text span{
//   font-size: rem(22);
// }

// .p-info__time{
//   font-size: rem(31);
//   letter-spacing: 0.2em;
// }

.p-info{
  display: flex;
  line-height: rem(40);
}
.p-info__title{
  width: 25%;
  font-size: rem(31);
}
.p-info__center{
  width: 25%;
}

.p-info__right{
  width: 50%;
}
.p-info__text{
  font-size: rem(16);
  font-family: $font-sub;
  letter-spacing: 0.05em;
}
.p-info__text::first-letter{
  font-size: rem(22);
}
.p-info__text span{
  font-size: rem(22);
}

.p-info__time{
  font-size: rem(31);
  letter-spacing: 0.2em;
  line-height: calc(rem(40) + 2px);
}
.p-info__center{
  position: relative;
  padding-left: rem(25);
}
.p-info__center::after{
  content: "";
  height: 22%;
  width: 2px;
  position: absolute;
  top: calc((6 / 100) * 100%);
  left: 0;
  background: linear-gradient(90deg,#78DAB1 0%,#ACDE5C 100%);
}