@use "global" as *;

.p-menu{
  position: relative;
}
.p-menu::before{
  content: "";
  position: absolute;
  top: rem(-90);
  left: 0;
  display: block;
  width: 100%;
  height: rem(760);
  background: linear-gradient(90deg, transparent 0%, transparent 32.291666666%, #F4F2F0 32.291666666%, #F4F2F0 100%);
  z-index: -1;
  @include mq(md){
    top: rem(-30);
  }
}
.p-menu__container {
  width: rem(1157);
  display: flex;
  gap: rem(149);
  position: relative;
  align-items: center;
  justify-content: center;
  @include mq(md){
    width: 100%;
    flex-direction: column;
    gap: rem(100);
  }
}
.p-menu__images{
  width: rem(530);
  height: 100%;
  // aspect-ratio: calc((380 / 530) * 100%);
  @include mq(md){
    width: 80%;
    margin-inline: auto;
    order: 1;
  }
}
.p-menu__img{
  position: relative;
}
.p-menu__img--top{
  position: absolute;
  top: -41%;
  left: 11.5%;
  @include mq(md){
    display: none;
  }
}
.p-menu__img--top img{
  width: rem(530);
}
.p-menu__img--bottom{
  position: absolute;
  bottom: -41%;
  left: 11.5%;
  @include mq(md){
    display: none;
  }
}
.p-menu__img--bottom img{
  width: rem(530);
}
.p-menu__img--top::after{
  content: "";
  position: absolute;
  top: rem(10);
  left: rem(-10);
  width: 100%;
  height: 100%;
  border: solid rem(2) $black;
}
.p-menu__img--bottom::after{
  content: "";
  position: absolute;
  top: rem(10);
  left: rem(-10);
  width: 100%;
  height: 100%;
  border: solid rem(2) $black;
}
.p-menu__img::after{
  content: "";
  position: absolute;
  top: rem(10);
  left: rem(-10);
  width: 100%;
  height: 100%;
  border: solid rem(2) $black;
}
.p-menu__wrap {
  width: rem(478.24);
  @include mq(md){
    width: 100%;
  }
}
.p-menu__title {
  @include mq(md){
    text-align: center;
  }
}
.p-menu__menus {
  margin-top: rem(100);
  @include mq(md){
    margin-top: rem(60);
  }
}
.p-menu__menu:not(:first-child){
  margin-top: rem(50);
  @include mq(md){
    margin-top: rem(25);
  }
}
.p-menu__btn {
  margin-top: rem(100);
  @include mq(md){
    margin-top: rem(60);
  }
}