@use "global" as *;

.p-styles {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.p-styles__title {}
.p-styles__photos{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: rem(100);
}
.p-styles__photos img{
  width: calc(100% / 3);
}
.p-styles__btn {
  margin-top: rem(105);
}