@use 'global' as *;

.l-inner {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: $innerWidth + $padding-pc * 2;
  padding-right: rem(strip-unit($padding-pc));
  padding-left: rem(strip-unit($padding-pc));
  @include mq(md) {
    padding-right: rem(strip-unit($padding-sp));
    padding-left: rem(strip-unit($padding-sp));
  }
}

.l-inner__header{
  margin-top: rem(30);
  @include mq(md){
    margin-top: initial;
  }
}
.l-inner__hero{
  margin-top: rem(30);
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1710px + $padding-pc * 2;
  padding-right: rem(strip-unit($padding-pc));
  padding-left: rem(strip-unit($padding-pc));
  @include mq(md) {
    margin-top: rem(60);
    padding-right: rem(strip-unit($padding-sp));
    padding-left: rem(strip-unit($padding-sp));
  }
}
.l-inner__concept{
  margin-top: rem(200);
  @include mq(md){
    margin-top: rem(150);
  }
}
.l-inner__menu{
  margin-top: rem(230);
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1,157.24px + $padding-pc * 2;
  padding-right: rem(strip-unit($padding-pc));
  padding-left: rem(strip-unit($padding-pc));
  @include mq(md) {
    margin-top: rem(150);
    padding-right: rem(strip-unit($padding-sp));
    padding-left: rem(strip-unit($padding-sp));
  }
}
.l-inner__styles{
  margin-top: rem(355);
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px + $padding-pc * 2;
  padding-right: rem(strip-unit($padding-pc));
  padding-left: rem(strip-unit($padding-pc));
  @include mq(md) {
    padding-right: rem(strip-unit($padding-sp));
    padding-left: rem(strip-unit($padding-sp));
    margin-top: rem(150);
  }
}
.l-inner__news{
  margin-top: rem(195);
  @include mq(md){
    margin-top: rem(150);
  }
}
.l-inner__greeting{
  margin-top: rem(200);
  @include mq(md){
    margin-top: rem(150);
  }
}
.l-inner__instagram{
  margin-top: rem(132);
  @include mq(md){
    margin-top: rem(150);
  }
}
.l-inner__book{
  margin-top: rem(100);
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1300px + $padding-pc * 2;
  padding-right: rem(strip-unit($padding-pc));
  padding-left: rem(strip-unit($padding-pc));
  @include mq(md){
    margin-top: rem(150);
  }
}

.l-inner__bottom{
  margin-top: rem(100);
}
.l-inner__footer{
  margin-top: rem(100);
}